.fundoMenu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: #ffffff00;
    top: 0;
    left: 0;
  }
  
  .menuBand {
    position: relative;
    z-index: 1000;
  }
  
  .menuBand ul {
    position: absolute;
    top: -1.3em;
    left: -1em;
    border-radius: 1em;
    background: #1c1c1c;
    width: 15em;
    height: 18em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 2s;
    animation: fadeOut 0.2s;
  }
  
  @keyframes fadeOut {
    from {
      width: 0;
    }
    to {
      width: 15em;
    }
  }
  
  .menuBand ul li {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuBand ul li:hover {
    background: #2c2f31;
    color: #a92e2e;
    border-radius: 0.5em;
  }
  
  .menuBand ul li a {
    text-decoration: none;
    color: #383e44;
    font-size: larger;
    font-weight: bolder;
  }
  