.menuBand{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background: rgba(255, 250, 240, 0);
    top: 0;
    left: 0;

}

.menuBand ul{
    position: absolute;
    top: 10em;
    left: 36em;
    border-radius: 1em;
    background: red;
    width: 15em;
    height: 18em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.menuBand ul li {
    list-style: none;
    

}

.menuBand ul li a:hover{
    background: rgba(0, 0, 0, 0.322);
    border-radius: 0,5;
}

.menuBand ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder;
}